.publictext {

    &__container {
        border-top: 4px solid $separator-color;
    }

    &__text {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        margin: 30px 0;
    }

    &__title {
        @include subtitle;
        @include main-gradient-text;
    }

    &__subtitle {
        font-size: 16px;
        font-weight: 700;
        color: $main-color;
        margin: 30px 0 15px 0;
        line-height: 22px;
        @include viewport-md {
            font-size: 22px;
        }
    }

    &__list-item {
        display: flex;
        gap: 10px;
        margin-bottom: 15px;
        h3 {
            font-size: 18px;
            font-weight: 700;
            line-height: 26px;
            color: $accent-color;
            text-align: right;
            padding-left: 15px;

        }
        p {
            font-size: 18px;
            font-weight: 400;
            line-height: 26px;

        }
    }
}
