.services {
    &__inner {
        padding-bottom: 60px;
        @include  viewport-md {
            padding-top: 30px;
        }
    }

    &__inner-link {
        @include base-link ($regular-color);
        @include psevdolink 
}


    &__inner-title {
        @include subtitle;
        @include main-gradient-text;
    }

    &__inner-list {
        @include  viewport-md {
            display: flex;
            flex-flow: wrap;
            gap: 60px;
        }
        @include  viewport-lg {
            margin-top: 60px;
        }
    }

    &__inner-item {
        overflow: hidden;
        margin-top: 30px;
        @include  viewport-md {
            flex: 1 1 40%;
            margin-top: 0;
        }
        @include  viewport-lg {
        flex: 1 1 28%;
        }
    }

    &__inner-icon {
        width: 92px;
        height: 92px;
        padding: 14px;
        border-radius: $radius-lg;
        background: $basic-white;
    }

    &__inner-item-title {
        font-size: 22px;
        font-weight: 700;
        color: $regular-color;
        margin-top: 30px;
        a {
            text-decoration: none;
            @include base-link ($regular-color);
        }
    }

    &__inner-item-text {
        font-size: 16px;
        font-weight: 400;
        line-height: 26px;
        color: $basic-white;
        margin-top: 15px;
    }
}


